<!-- Could use same template as add.ejs, but chose to split for clarity in example -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<form action="/books/update/<%= book.id %>" method="post">
    <!--  Use CSS to be modern -->
    <table>
        <tr><td>URL: </td><td><input type="text" name="url"  value="<%= book.url %>" ></td></tr>
        <tr><td>Name: </td><td><input type="text" name="name" value="<%= book.name %>"></td></tr>
        <tr><td>Description: </td><td><input type="text" name="description" value="<%= book.description %>"></td></tr>
        <tr><td>Keywords: </td><td><input type="text" name="keywords" value="<%= book.keywords %>"></td></tr>
        <tr><td colspan="2">
                <input type='submit' value="Save">
                &nbsp;
                <!-- Could also pass to the server as a submit and determine redirect action there -->
                <a href='/books/' style="text-decoration: none;"><input type="button" value='Cancel Edit'></a>
            </td></tr>
    </table>
</form>
